<div class="modal fade" id="donateModal" role="dialog" style="color: black;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Help fund the faucet!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p >
          Transparent donation address:</br>
          <span class="taddress">tmP5cmDU66W2puHFoqfu8Zqe6M4mpsDk5fS</span>
        </p>
        <p>
          Sprout Shielded donation address:</br>
          <span class="zaddress">ztSwdDwPhpUZ447YU1BqjxrvutHfu2AyENwUohhTMhnWHreAEHTELhRLvqkARmCSudW1GAcrg58TVaqT7oTH1ohFA7k7V11</span>
        </p>
        <p>
          Sapling Shielded donation address:</br>
          <span class="zaddress">ztestsapling1603ydy9hg79lv5sv9pm5hn95cngfv4qpd6y54a8wkyejn72jl30a4pfhw8u00p93mu4nj6qxsqg</span>
        </p>
      </div>
    </div>
  </div>
</div>
