<div class="modal fade" id="donateModal" role="dialog" style="color: black;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Help fund the faucet!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p >
          Transparent donation address:</br>
          <span class="taddress">tmVhHCfsGn2A7DMDCT6Ls5nyfK3s9uxCQU1</span>
        </p>
        <p>
          Sprout Shielded donation address:</br>
          <span class="zaddress">ztJgLoDYtQMRBa7zr6uYgNjptW8x4Kj4JEWrdDWuxzUA6rb6HctQ9PWzu7oT46Vhxa4HGioie8qtGVVEkMRGKNU1GCGacfd</span>
        </p>
        <p>
          Sapling Shielded donation address:</br>
          <span class="zaddress">ztestsapling1vczf96ey0xt7jfrq7hhzfy3yeq5rwvvmk3s5l3sxs2wecpg0dnxu0ud6jxzev0kz4wjm6jy0y0j</span>
        </p>
      </div>
    </div>
  </div>
</div>
